<div id="main">
  <%= render partial: "layouts/dashboard" %>
  <%= render partial: "layouts/categories" %>
  <div class="content-main white-background content-border" role="main">
    <div class="content-header">
      <div class="header-inner">
        <h2 class="text">Today's Tweets</h2>
        <% if type.eql? 'category' %>
          <%= render partial: "layouts/category_select_box" %>
        <% else %>
          <%= render partial: "layouts/select_box" %>
        <% end %>
      </div>
    </div>
    <div class="content-tweet">
      <ul class="tweet-items">
        <% tweets.each do |tweet|%>
          <li>
          <div class="content">
            <div class="header">
              <strong class="name">
                <%=link_to tweet[:user][:name], "http://twitter.com/#{tweet[:user][:screen_name]}"%>
              </strong>
              <%= image_tag(tweet[:user][:image], alt: "Fail") %> 
              <span class="date">
                <%=time_ago_in_words(tweet[:created_at].localtime) %>
              </span>
            </div>
            <div class="tweet">
              <div class="name">
                <%=escape_http(tweet[:text])%>
              </div>
            </div>
            <%= render partial: "layouts/footer", :locals => {:tweet => tweet }%>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= paginate tweets %>
