<div id="main">
  <div class="content-main white-background" role="main">
    <div class="content-header">
      <div class="header-innner">
        <h2>Tweets</h2>
      </div>
    </div>
    <div class="content-tweet">
      <ul class="tweet-items">
        <% @tweets.each do |tweet|%>
        <li>
          <div class="content">
            <div class="header">
              <strong class="name">
                <%= tweet[:user][:name] %>
              </strong>
              <%= image_tag(tweet[:user][:image], alt: "Fail") %> 
              <span class="date">
                <%=time_ago_in_words(tweet[:created_at]) %>
              </span>
            </div>
            <div class="tweet">
              <div class="name">
              <%= tweet[:text] %>
              </div>
            </div>
            <%= render partial: "tweets/footer" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
