<div class="footer">
  <ul class="tweet-cnt">
    <li>
      <div class="tweet-cnt-top">
        Favorite
      </div>
      <div class="tweet-cnt-bottom">
        <%= tweet[:favorite_count]%>
      </div>
    </li>
    <li>
      <div class="tweet-cnt-top">
        Retweet
      </div>
      <div class="tweet-cnt-bottom">
        <%= tweet[:retweet_count]%>
      </div>
    </li>
  </ul>
  <ul class="tweet-actions">
    <%if !tweet[:is_retweet] %>
    <li>
    <%= link_to "#", :class => "retweet"  do%>
      <span class="icon">
      <%=image_tag image_path("custom-icon-retweet.png") %>
    </span>
    <b>
      Retweet
    </b>
  <%end%>
    </li>
  <%end%>
  <%if !tweet[:is_favorite] %>
    <li>
    <%= link_to "#", :class => "favorite"  do%>
      <span class="icon">
      <%=image_tag image_path("star.png") %>
    </span>
    <b>
      Favorite
    </b>
  <%end%>
    </li>
  <%end%>
  </ul>
</div>
