<div class="topbar">
  <div class="global-nav">
    <div class="global-nav-inner">
      <div class="container">
        <%=link_to root_path, :class => "brand" do%>
        <%end%>
        <div role="navigation">
          <ul class="nav">
            <li id="global-nav-home" class="home">
              <%= link_to root_path do %>
                <%= image_tag image_path("home.png")%>
              <% end %>
            </li>
            <li id="global-nav-me">
              <% if !current_user %>
                <%= link_to "#none",{:class => :login} do %>
                  <%= image_tag image_path("twitter-login.png")%>
                <% end %>
              <% else %>
                <%= link_to "/signout",{:class => :logout} do %>
                  <%= image_tag image_path("1398753515_logout.png"), {:style => "width:37px;height:37px"}%>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="pull-right">
        </div>
      </div>
    </div>
  </div>
</div>
