<!DOCTYPE html>
<html>
<head>
  <title>Mifd</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/belhyun/mifd-web">Fork me on GitHub</a>
  </div>
</div>
<%= render partial: "layouts/nav_top" %>
<%= yield %>
<%= render partial: "popups/index" %>
</body>
</html>
