<!DOCTYPE html>
<html>
<head>
  <title>Mifd</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">
<%= render partial: "layouts/git_hub" %>
<%= render partial: "layouts/nav_top" %>
<%= yield %>
<%= render partial: "popups/index" %>
</body>
</html>
